<div class="d-flex flex-column align-items-center justify-content-center">
   <h1> Inventory Management Application</h1>
   <% if @user %>
       <%= link_to "View your inventories", inventories_path, class: "btn btn-outline-secondary" %>
   <% end %>
<div>
